<body>
    {% extends 'home.html' %} {% block content %}
    <div class="h-100 bg-light p-4 container-fluid">
        <h4 class="text-center ">LOGIN</h4>


        <div class="d-flex flex-column justify-content-center shadow-lg p-3 mb-5 bg-white rounded  align-items-center">
            <form action="{{ url_for('auth.Login') }}" enctype="multipart/form-data" method="post">
                <input type="text" placeholder="Username" class="form-control " name="username">
                <input type="text" placeholder="Password" class="form-control mt-2" name="password">
                <button type="submit" class="btn-success form-control mt-2"> submit</button>
            </form>
            <a href="{{ url_for('auth.Register') }}"> Click here Register</a>
        </div>
    </div>

</body>

{% endblock %}